<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="Groups" >
        <classes>
            <class name="ru.courses.mantis.tests.LoginTests" />
            <class name="ru.courses.mantis.tests.RegistrationTests" />
            <class name="ru.courses.mantis.tests.ChangePasswordTests"></class>
            <class name="ru.courses.mantis.tests.SoapTests"></class>
        </classes>
    </test>
</suite>
